
//top-nav
.nav{
	height:31px;
	background:rgb(227,228,229);
	font-size:12px;
	color:rgb(107,107,107);
	line-height:31px;
	.nav_left{
		float:left;
		a{
			height:31px;
			color:rgb(51,51,51);
			i{
				width:12px;
				height:16px;
				display: inline-block;
				background:url('../img/weizhi.png') no-repeat;
			}
		}
		p{
			margin-left:15px;
			display:inline-block;
			a{
				display: inline-block;
				margin-left:8px;
			}
		}
	}
	.nav_menu{
		padding-left:206px;
		float:left;
		ul{
			li{
				float:left;
				padding:0px 12px;
				a{
					color:rgb(107,107,107);
				}
				i{
					display: inline-block;
				}
			}
			.user{
				i{
					width:9px;
					height:7px;
					background:url(../img/icon_v1.png) -19px -6px no-repeat;
				}
			}
			.vip{
				i{
					width:1px;
					height:1px;
				}
			}
			.app{
				i{
					width:10px;
					height:15px;
					line-height:31px;
					vertical-align: text-top;
					margin-right:3px;
					background: url(../img/icon_v1.png) -35px 0 no-repeat;
				}
			}
			.sitemap{
				i{
					width:9px;
					height:7px;
					background:url(../img/icon_v1.png) -19px -6px no-repeat;
				}
			}
			.info{
				i{
					width:15px;
					height:15px;
					background:url(../img/nav_info.png) no-repeat;
					vertical-align: text-top;
					margin-right:3px;
				}
			}
			.phone{
				a{
					line-height:31px;
					font-size:10px;
					color:rgb(200,15,30);
				}
				i{
					width:18px;
					height:18px;
					background:url(../img/nav_phone.png) no-repeat;
					vertical-align: text-top;
					margin-right:3px;
				}
			}
		}
	}
}
//header
header{
	height:145px;
	overflow:hidden;
	position: relative;
	border-bottom:2px solid rgb(200,15,30);
	.logo{
		float: left;
		width: 220px;
		a{
			color:#fff;
		}
		.fenlei{
			margin-top: 38px;
			float:left;
			width:220px;
			height:47px;
			color:#fff;
			background: rgb(200,15,30);
			line-height:47px;
			text-align: center;
		}
	}
	.search{
		padding-left:75px;
		padding-top:25px;
		background: rgb(247,247,247);
		width:750px;
		float:left;
		.input-group{
			border:1px solid rgb(200,15,30);
			#input-search{
				width:460px;
			}
			.input-group-addon{
				background:rgb(200,15,30);
				color:#fff;
			}
		}
		p{	
			margin-top:5px;
			a{
				color:rgb(107,107,107);
			}
		}
		.search-nav{
			font-size:16px;
			padding-top:16px;
			ul{
				li{
					float:left;
					line-height:45px;
					margin:0 8px;
					a{
						color:rgb(51,51,51);
					}
				}
			}
		}
	}
	.buyCart{
		padding-toP:50px;
		width:158px;
		height:36px;
		float: left;
		a{
			display:inline-block;
			width:158px;
			height:36px;
			border:1px solid #ccc;
			line-height:36px;
			text-align: center;
			i{
				display: inline-block;
				width:23px;
				height:21px;
				background:url(../img/icon_v1.png) -153px -141px no-repeat;
			}
			span{
				display: inline-block;
				width:15px;
				height:15px;
			}
		}
	}
}
//main-top
.main-top{
	height: 40px;
	line-height:40px;
	s{
		display: inline-block;
		width:12px;
		height:16px;
		background: url(../img/weizhi.png) no-repeat;
	}
}
//main
.main{
	.shopinfoimg{
		float:left;
		width:440px;
		height:636px;
		background: orange;
		.bigpic{
			width:438px;
			height:438px;
			border:1px solid #ccc;
			img{
				width:438px;
				height:438px;
			}
		}
		.shopinglist{
			width:440px;
			height:150px;
			background: #000;
		}
	}
	.shopinfobuy{
		float:left;
		width:720px;
		height:636px;
		background: skyblue;
	}
}
//news
.news{
	margin-top:30px;
	.news-left{
		float:left;
		height:800px;
		width:220px;
		background: green;
	}
	.news-right{
		margin-left:30px;
		float:left;
		width:800px;
		height:800px;
		background: #f60;
	}
}