body{
	background: rgb(247,247,247);
}
//顶部广告区域
.top-nav{
	height:70px;
	overflow:hidden;
	position: relative;
	a{
		display: inline-block;
		height:70px;
		position: relative;
	}
	i{
		display:block;
		background: url(../img/icon_v1.png) -144px 0 no-repeat;
		width:16px;
		height:16px;
		position:absolute;
		top:5px;
		right:5px;
		transition:1s;
		&:hover{
			background: url(../img/icon_v1.png) -160px 0 no-repeat;
		}
		&:hover{
			transform:rotate(360deg);
		}
	}
	img{
		width:100%;
		height:100%;
	}
}
//顶部nav导航
.nav{
	height:31px;
	background:rgb(227,228,229);
	font-size:12px;
	color:rgb(107,107,107);
	line-height:31px;
	.nav_left{
		float:left;
		a{
			height:31px;
			color:rgb(51,51,51);
			i{
				width:12px;
				height:16px;
				display: inline-block;
				background:url('../img/weizhi.png') no-repeat;
			}
		}
		p{
			margin-left:15px;
			display:inline-block;
			a{
				display: inline-block;
				margin-left:8px;
			}
		}
	}
	.nav_menu{
		padding-left:206px;
		float:left;
		ul{
			li{
				float:left;
				padding:0px 12px;
				a{
					color:rgb(107,107,107);
				}
				i{
					display: inline-block;
				}
			}
			.user{
				i{
					width:9px;
					height:7px;
					background:url(../img/icon_v1.png) -19px -6px no-repeat;
				}
			}
			.vip{
				i{
					width:1px;
					height:1px;
				}
			}
			.app{
				i{
					width:10px;
					height:15px;
					line-height:31px;
					vertical-align: text-top;
					margin-right:3px;
					background: url(../img/icon_v1.png) -35px 0 no-repeat;
				}
			}
			.sitemap{
				i{
					width:9px;
					height:7px;
					background:url(../img/icon_v1.png) -19px -6px no-repeat;
				}
			}
			.info{
				i{
					width:15px;
					height:15px;
					background:url(../img/nav_info.png) no-repeat;
					vertical-align: text-top;
					margin-right:3px;
				}
			}
			.phone{
				a{
					line-height:31px;
					font-size:10px;
					color:red;
				}
				i{
					width:18px;
					height:18px;
					background:url(../img/nav_phone.png) no-repeat;
					vertical-align: text-top;
					margin-right:3px;
				}
			}
		}
	}
}
//header;
header{
	height:145px;
	.logo{
		line-height:145px;
		text-align: center;
	}
	.search{
		padding-left:115px;
		padding-top:25px;
		background: rgb(247,247,247);
		.input-group{
			border:1px solid #red;
			#input-search{
				width:460px;
			}
			.input-group-addon{
				background:rgb(200,15,30);
				color:#fff;
			}
		}
		p{	
			margin-top:5px;
			a{
				color:rgb(107,107,107);
			}
		}
		.search-nav{
			font-size:16px;
			padding-top:16px;
			ul{
				li{
					float:left;
					line-height:45px;
					margin:0 8px;
					a{
						color:rgb(51,51,51);
					}
				}
			}
		}
	}
	.buyCart{
		padding-top:25px;
		a{
			display:inline-block;
			width:158px;
			height:36px;
			border:1px solid #ccc;
			line-height:36px;
			text-align: center;
			i{
				display: inline-block;
				width:23px;
				height:21px;
				background:url(../img/icon_v1.png) -153px -141px no-repeat;
			}
			span{
				display: inline-block;
				width:15px;
				height:15px;
			}
		}
	}
}
//main
#main{
	height:480px;
	.main-left{
		width:219px;
		float:left;
		padding:0;
		background: rgb(129,129,129);
		position: relative;
		box-sizing:boder-box;
		ul{
			width:219px;
			li{
				height:80px;
				width:219px;
				&:hover{
					background: #333;
				}
				a{
					color:#fff;
				}
				p{
					padding-top:8px;
					color:#fff;
					i{
						display:inline-block;
						width:11px;
						height:16px;
						background: url(../img/icon_v1.png) -82px 0 no-repeat;
						margin-right:10px;
						margin-left:13px;
					}
					s{
						display: inline-block;
						float:right;
						margin-right:8px;
					}
				}
				span{
					padding-top:8px;
					display: inline-block;
					padding-left:21px;
					font-size:10px;
					margin-left:16px;
					a{
						color:rgb(217,217,217);
					}
				}
			}
		}
		.main-item{
			position:absolute;
			top:0;
			left:219px;
			width:760px;
			height:480px;
			z-index:99;
			border-top:1px solid #ccc;
			border-right:1px solid #ccc;
			border-bottom:1px solid #ccc;
			background: #fff;
			.main-item-left{
				float:left;
				width:510px;
				box-sizing:border-box;				
				.item-1{
					height:70px;
					span{
						display:block;
						float: left;
						width:79px;
						height:70px;
						padding-top:17px;
						padding-left:9px;
						color:rgb(200,15,30);
						font-size:12px;
						box-sizing:border-box;
					}
					p{
						display:block;
						float: left;
						width:431px;
						color:#000;
						padding-top:3px;
						a{
							display: inline-block;	
							font-size:12px;
							line-height:34px;
							color:rgb(51,51,51);
						}
						s{
							display: inline-block;
							width:2px;
							height:12px;
							background:rgb(216,228,255);
							margin:0 10px;
						}
					}
				}
			}
		}
	}
}
.main-item-xx{
	overflow:hidden;
	box-sizing:border-box;
}
.main-item-xx>hr{
	margin:0;
}
#main .main-item{
	display:none;
}
#main .banner{
	float: left;
	width:760px;
	height:480px;
	padding: 0;
	position: relative;
	box-sizing:border-box;
	.box{
		width:760px;
		overflow:hidden;
		box-sizing:border-box;
		img{
			position:absolute;
			top:0;
			left:0;
			opacity:0;
			transition: 1s;
		}
		.on{
			opacity:1;
		}
	}
	.nav{
		width:50px;
		height:50px;
		text-align: center;
		line-height:50px;
		a{
			display: block;
			color:#fff;
			font-size:50px;
		}
		.lt{
			position: absolute;
			top:175px;
			z-index:3;
			display: none;
		}
		.gt{
			position: absolute;
			top:175px;
			right:0;
			z-index:3;
			display: none;
		}
	}
	.list{
		position:absolute;
		bottom:15px;;
		margin-left:300px;
		ul{
			li{
				float:left;
				width:20px;
				height:20px;
				background:#ccc;
				border-radius: 50%;
				margin:0 7px;
			}
		}
		.on{
			background:#fff;
		}
	}
}
#main .banner:hover .lt,
#main .banner:hover .gt{
	display: block;
}
//info-card
#main .info-card{
	width:200px;
	float: left;
	background: rgb(255,255,255);
	hr{
		margin:0;
	}
	h3{
		padding:0 10px;
		font-size:12px;
		line-height:34px;
		a{
			color:#000;
		}
		.change-icon{
			display: inline-block;
			float:right;
		}
	}
	h2{
		padding:0 10px;
		font-size:12px;
		line-height:34px;
	}
	.user-logo{
		height:92px;
		box-sizing:border-box;
		padding:10px;
		dl{
			hegiht:43px;
			display: inline-block;
			dt{
				float:left;
				width:63px;
			}
			dd{
				float:left;
				margin-left:20px;
				p{
					color:red;
					line-height:24px;
				}
			}
		}
		.logo-text{
			padding-left:5px;
			margin-top:8px;
			font-size:12px;
			a{
				color:red;
			}
		}
	}
	.notice{
		padding:0 10px;
		ul{
			margin:10px 0;
			li{
				margin:10px 0;
				font-size:12px;
				a{
					color:rgb(153,153,153);
				}
			}
		}
	}
	.service{
		a{
			display: block;
			float:left;
			width:65px;
			height:75px;
			border:1px solid #ccc;
			color:#000;
			i{
				display: inline-block;
				margin:5px 10px;
				width:40px;
				height:40px;
				background: url(../img/service-icon.png) no-repeat;
				transition:1s;
				&:hover{
					transform:rotate(15deg);
				}
			}
			s{
				display: block;
				font-size:10px;
			}
			&:hover{
				color:red;
			}
		}
	}
}
.product_type{
	margin-top:20px;
	overflow:hidden;
	.troika-list{
		width:383px;
		height:458px;
		.troika-body{
			padding:14px 10px 0 0;
			background: #fff;
			overflow:hidden;
			.left{
				width:186px;
				height:458px;
				float:left;
				.big-img{
					width:186px;
					height:254px;
					position: relative;
					border-right:1px dashed #ccc;
					border-bottom:1px dashed #ccc;
					.diy-tip{
						img{
							width:160px;
							height:160px;
							position: absolute;
							right:0;
							bottom:0;
							transition:1s;
							&:hover{
								right:20px;
							}
						}
					}
				}
				.bottom-img{
					width:186px;
					height:126px;
					position: relative;
					border-right:1px dashed #ccc;
					border-bottom:1px dashed #ccc;
					.diy-tip{
						img{
							width:60px;
							height:60px;
							position: absolute;
							right:0;
							bottom:0;
							transition:1s;
							&:hover{
								right:20px;
							}
						}
					}
				}
			}
			.right{
				width:186px;
				float:left;
				.anim-left{
					height:127px;
					position: relative;
					border-bottom:1px dashed #ccc;
					.diy-tip{
						img{
							width:60px;
							height:60px;
							position: absolute;
							right:0;
							bottom:0;
							transition:1s;
							&:hover{
								right:20px;
							}
						}
					}
				}
			}
		}
	}
}
.content-item{
	margin-top:20px;
	.overflow-hide-left{
		float:left;
		width:570px;
		height:160px;
		.left{
			margin-right:10px;
			position: relative;
			.sh-tip-left{
				img{
					width:300px;
					height:160px;
					position:absolute;
					bottom:0;
					left:45%;
					transition:1s;
					&:hover{
						left:40%;
					}
				}
				
			}
		}
	}
	.overflow-hide-right{
		float:right;
		margin-left:20px;
		width:570px;
		height:160px;
		.right{
			margin-right:10px;
			position: relative;
			.sh-tip-right{
				img{
					width:340px;
					height:160px;
					position:absolute;
					bottom:0;
					left:230px;
					transition:1s;
					&:hover{
						left:200px;
					}
				}

			}
		}
	}
}
.wrappers{
	height:24px;
	margin:22px 0;
	overflow:hidde;
}
.discounts{
	.discounts-left{
		width:570px;
		float:left;
		.sale-list{
			height:246px;
			position: relative;
			overflow:hidden;
			ul{
				height: 246px;
				position: absolute;
				li{
					float:left;
					width:190px;
					height: 246px;
					background: #fff;
					img{
						width:160px;
						height: 160px;
					}
				}
			}
			.prev-btn{
				position: absolute;
				font-size:50px;
				background: #ccc;
				color:#fff;
				top:50%;
				left:0;
				display: none;
			}
			.next-btn{
				position: absolute;
				font-size:50px;
				background:#ccc;
				color:#fff;
				top:50%;
				right:0;
				display: none;
			}
			&:hover{
				.next-btn{
					display: block;
				}
				.prev-btn{
					display: block;
				}
			}
		}
	}
	.discounts-right{
		width:570px;
		float:right;
		.discounts-right-body{
			margin:20px 0;
			.discounts-right-item{
				width:189px;
				height:246px;
				float:left;
				border-right:1px dashed #ccc;
				position: relative;
				h3{
					color:rgb(153,108,190);
					line-height:32px;
				}
				p{
					font-size:10px;
				}
				a{
					img{
						position: absolute;
						right:10px;
						bottom:10px;
						transition:1s;
						&:hover{
							right:30px;
						}
					}
				}
			}
		}
	}
}
.jiyou{
	.diy-floor{
		margin-top:14px;
		margin-bottom:11px;
		.floor-title{}
		.floor-main{
			height:440px;	
			margin:10px;
			.leftAD{
				float: left;
				height:440px;
				width:190px;
				box-sizing:border-box;
				position: relative;
				overflow:hidden;
				transition:1s;
				&:hover{
					img{
						width:200px;
						height:300px;
					}
				}
				img{
					display: block;
					position:absolute;
					top:0;
					left:0;
					width:190px;
					height:290px;
					z-index:-1;
				}
				.textAD{
					padding:0 20px;
					width:190px;
					position: absolute;
					bottom:150px;
					left:0;
					line-height:34px;
					background: rgb(80,77,148);
					opacity:0.6;
					color:#fff;
					a{
						color:#fff;
					}
					em{
						display: block;
						float:right;
					}
				}
				.bottomtext{
					position: absolute;
					bottom:0px;
					left:0;
					height:150px;
					width:190px;
					padding:30px;
					background: rgb(115,78,139);
					color:#fff;
					box-sizing:border-box;
					h3{
						text-align: center;
						margin-bottom:5px;
					}
				}
			}
			.shop-list{
				margin-left:10px;
				width:760px;
				height:440px;
				overflow:hidden;
				float:left;
				ul{
					li{
						float:left;
						width:190px;
						height:220px;
						position: relative;
						border-right:1px dashed #ccc;
						border-bottom:1px dashed #ccc;
						a{
							img{
								width:100px;
								height:100px;
								position: absolute;
								right:5px;
								bottom:5px;
								transition:1s;
								&:hover{
									right:20px;
								}
							}
						}
					}
				}
			}
			.rightAD{
				float: left;
				ul{
					li{
						width:190px;
						height:110px;
						position: relative;
						a{
							img{
								width:60px;
								height:60px;
								position: absolute;
								right:5px;
								bottom:5px;
								transition:1s;
								&:hover{
									right:15px;
								}
							}
						}
					}
				}
			}
		}
		.brand-link{
			background: rgb(213,202,220);
			.link-list{
				height:46px;
				span{
					display: inline-block;
					margin:0 10px;
					font-size:16px;
					line-height:46px;
					color:rgb(115,78,139);
				}
				a{
					display: inline-block;
					margin:0 10px;
					color:rgb(115,78,139);
				}
				s{
					display: inline-block;
					width:1px;
					height:14px;
					background: #fff;
				}
			}
		}
	}
}
.diy-tip{
	display: block;
	width:170px;
	height:64px;
	line-height:18px;
	padding:12px 10px;
	h3{
		font-size:12px;
		color:rgb(226,147,146);
		line-height:36px;
	}
	p{
		font-size:10px;
		color:#000;
	}
}
.more_good{
	ul{
		li{
			float:left;
			width:226px;
			height:295px;
			margin:0 10px 10px 0;
			background: rgb(255,255,255);
			transition:1s;
			img{
				display: block;	
				margin:5px;
				width:202px;
				height: 202px;
			}
			p{
				font-size:12px;
				line-height:40px;
				padding-left:20px;
			}
			span{
				color:red;
				padding-left:20px;
			}
			&:hover{
				box-shadow: 0px 5px 15px #888;
			}
		}
	}
}
.loadmore{
	margin:20px 0 30px 0;
	#loadmore-btn{
		margin-left:43%;;
		display: block;
		width:200px;
		height:40px;
		background: #fff;
		border-radius:3px;
		box-shadow:5px 5px 3px #ccc insrt;
		transition:1s;
		&:hover{
			color:#fff;
			background:red;
		}
	}
}
.promise{
	a{
		width: 220px;
	    float: left;
	    margin-top: 30px;
	    margin-left: 40px;
	    margin-right:30px;
	    text-decoration: none;
	    dl{
	    	dt{
	    		float: left;
	    		display:inline-block;
	    		width:50px;
	    		height:50px;
	    		background: url(../img/icon.png) -5px -234px no-repeat;
	    	}
	    	dd{
	    		h4{
	    			font-size:20px;
	    			line-height:26px;
	    			color:rgb(51,51,51);
	    			margin-right:5px;
	    		}
	    		p{
	    			font-size:12px;
	    			line-height:20px;
	    			color:#ccc;
	    		}
	    	}
	    }
	}
}
.foot-help{
	dl{
		float: left;
	    height: 110px;
	    width: 180px;
	    margin-top: 30px;
	    box-sizing:border-box;
		dt{
			font-size: 14px;
    		padding-left: 8px;
			}
		dd{
			padding-left: 10px;
    		margin-top: 10px;
    		a{
    			display: block;
    			line-height: 25px;
    			color: #9c9c9c;
    		}
		}
	}
}
hr{
	margin: 0;
}
//footer
footer{
	ul{
		margin-top:40px;
		li{
			font-size:12px;

			a{
				color:#000;
			}
		}
	}
}
footer .list_1{
	margin-left:127px;
	margin-bottom:24px;
}
footer .list_1 a{
	margin:0 20px;
}
footer .list_1 s{
	display: inline-block;
	height:12px;
	width:2px;
	background:rgb(234,217,207);
}
footer .list_2,
footer .list_3,
footer .list_4,
footer .list_5{
	margin-bottom:15px;
	color:rgb(153,153,153);
}
footer .list_2{
	margin-left:167px;
}
footer .list_3 {
	margin-left:202px;
}
footer .list_4{
	margin-left:382px;
}
footer .list_5{
	margin-left:434px;
}
footer .list_6{
	overflow:hidden;
	margin-left:150px;
}
footer .list_6 .s1,
footer .list_6 .s2,
footer .list_6 .s3,
footer .list_6 .s4,
footer .list_6 .s5,
footer .list_6 .s6{
	display: inline-block;
	width:130px;
	height:50px;
	border:1px solid #ccc;
	margin-left:15px;
}
footer .list_6 .s1{
	background: url(../img/botpic1c.jpg);
}
footer .list_6 .s2{
	background: url(../img/bottom_large_img.png) no-repeat;
}
footer .list_6 .s3{
	background: url(../img/bot_link.jpg) 0 -50px no-repeat;
}
footer .list_6 .s4{
	background: url(../img/bot_link.jpg) 0 -100px no-repeat;
}
footer .list_6 .s5{
	background: url(../img/bot_link.jpg) no-repeat;
}
footer .list_6 .s6{
	background: url(../img/bot_link.jpg) 0 -50px no-repeat;
}