//顶部广告区域
.top-nav{
		height:70px;
		position: relative;
		overflow:hidden;
		a{
			height:70px;
		}
		i{
			display:block;
			background: url(../img/icon_v1.png) -144px 0 no-repeat;
			width:16px;
			height:16px;
			position:absolute;
			top:5px;
			right:5px;
		}
		img{
			width:100%;
			height:100%;
		}
}
//顶部nav导航
.nav{
	height:31px;
	background:rgb(227,228,229);
	font-size:12px;
	color:rgb(107,107,107);
	line-height:31px;
	.nav_left{
		float:left;
		a{
			height:31px;
			color:rgb(51,51,51);
			i{
				width:12px;
				height:16px;
				display: inline-block;
				background:url('../img/weizhi.png') no-repeat;
			}
		}
		p{
			margin-left:15px;
			display:inline-block;
			a{
				display: inline-block;
				margin-left:8px;
			}
		}
	}
	.nav_menu{
		padding-left:206px;
		float:left;
		ul{
			li{
				float:left;
				padding:0px 12px;
				a{
					color:rgb(107,107,107);
				}
				i{
					display: inline-block;
				}
			}
			.user{
				i{
					width:9px;
					height:7px;
					background:url(../img/icon_v1.png) -19px -6px no-repeat;
				}
			}
			.vip{
				i{
					width:1px;
					height:1px;
				}
			}
			.app{
				i{
					width:10px;
					height:15px;
					line-height:31px;
					vertical-align: text-top;
					margin-right:3px;
					background: url(../img/icon_v1.png) -35px 0 no-repeat;
				}
			}
			.sitemap{
				i{
					width:9px;
					height:7px;
					background:url(../img/icon_v1.png) -19px -6px no-repeat;
				}
			}
			.info{
				i{
					width:15px;
					height:15px;
					background:url(../img/nav_info.png) no-repeat;
					vertical-align: text-top;
					margin-right:3px;
				}
			}
			.phone{
				a{
					line-height:31px;
					font-size:10px;
					color:red;
				}
				i{
					width:18px;
					height:18px;
					background:url(../img/nav_phone.png) no-repeat;
					vertical-align: text-top;
					margin-right:3px;
				}
			}
		}
	}
}
//header;
header{
	height:145px;
	.logo{
		line-height:145px;
		text-align: center;
	}
	.search{
		padding-left:115px;
		padding-top:25px;
		background: rgb(247,247,247);
		.input-group{
			border:1px solid #red;
			#input-search{
				width:460px;
			}
			.input-group-addon{
				background:rgb(200,15,30);
				color:#fff;
			}
		}
		p{	
			margin-top:5px;
			a{
				color:rgb(107,107,107);
			}
		}
		.search-nav{
			font-size:16px;
			padding-top:16px;
			ul{
				li{
					float:left;
					line-height:45px;
					margin:0 8px;
					a{
					color:rgb(51,51,51);
					}
				}
			}
		}
	}
	.buyCart{
		padding-top:25px;
		a{
			display:inline-block;
			width:158px;
			height:36px;
			border:1px solid #ccc;
			line-height:36px;
			text-align: center;
			i{
				display: inline-block;
				width:23px;
				height:21px;
				background:url(../img/icon_v1.png) -153px -141px no-repeat;
			}
		span{
			display: inline-block;
			width:15px;
			height:15px;
			}
		}
	}
}
//main
#main{
	height:480px;
	.main-left{
		width:219px;
		float:left;
		padding:0;
		background: rgb(129,129,129);
		position: relative;
		box-sizing:boder-box;
		ul{
			width:219px;
			li{
				height:80px;
				width:219px;
				a{
					color:#fff;
				}
				p{
					padding-top:8px;
					color:#fff;
					i{
						display:inline-block;
						width:11px;
						height:16px;
						background: url(../img/icon_v1.png) -82px 0 no-repeat;
						margin-right:10px;
						margin-left:13px;
					}
					s{
						display: inline-block;
						float:right;
						margin-right:8px;
					}
				}
				span{
					padding-top:8px;
					display: inline-block;
					padding-left:21px;
					font-size:10px;
					margin-left:16px;
					a{
						color:rgb(217,217,217);
					}
				}
			}
		}
	.main-item{
			position:absolute;
			top:0;
			left:219px;
			width:760px;
			height:480px;
			z-index:99;
			border-top:1px solid #ccc;
			border-right:1px solid #ccc;
			border-bottom:1px solid #ccc;
			background: #fff;
			padding-top:10px;
			.main-item-left{
				float:left;
				width:510px;
				box-sizing:border-box;
				.item-1{
					height:70px;
					span{
						display:block;
						float: left;
						width:79px;
						height:70px;
						padding-top:17px;
						padding-left:9px;
						color:rgb(200,15,30);
						font-size:12px;
						box-sizing:border-box;
					}
					p{
						display:block;
						float: left;
						width:431px;
						color:#000;
						padding-top:3px;
						a{
							display: inline-block;	
							font-size:12px;
							line-height:34px;
							color:rgb(51,51,51);
						}
						s{
							display: inline-block;
							width:2px;
							height:12px;
							background:rgb(216,228,255);
							margin:0 10px;
						}
					}
				}
			}
			.main-item-right{
				width:201px;
				float:left;
				padding-left:29px;
				padding-right:10px;
				ul{
						.top{
						h3{
							margin-top:25px;
							margin-bottom:9px;
							font-size:16px;
						}
						p{
							margin-bottom:21px;
						}
						a{
							display: inline-block;
							width:178px;
							height:150px;
						}
					}
				}
			}
		}
	}
}
#main .main-left li:hover{
	background: #333;
}
#main .banner{
	float: left;
	width:760px;
	height:480px;
	padding: 0;
	position: relative;
	box-sizing:border-box;
	.box{
		width:760px;
		overflow:hidden;
		box-sizing:border-box;
		img{
			position:absolute;
			top:0;
			left:0;
			opacity:0;
			transition: 1s;
		}
		.on{
			opacity:1;
		}
	}
	.nav{
		width:50px;
		height:50px;
		text-align: center;
		line-height:50px;
		a{
			display: block;
			color:#fff;
			font-size:50px;
		}
		.lt{
			position: absolute;
			top:175px;
			z-index:3;
			display: none;
		}
		.gt{
			position: absolute;
			top:175px;
			right:0;
			z-index:3;
			display: none;
		}
	}
	.list{
		position:absolute;
		bottom:15px;;
		margin-left:300px;
		ul{
			li{
				float:left;
				width:20px;
				height:20px;
				background:#ccc;
				border-radius: 50%;
				margin:0 7px;
			}
		}
		.on{
			background:#fff;
		}
	}
}
#main .banner:hover .lt,
#main .banner:hover .gt{
	display: block;
}
//info-card
#main .info-card{
	width:200px;
	float: left;
	background: rgb(255,255,255);
}
